
.container{
display: flex;
flex-direction: column;
gap:10px;

}
.threeitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    gap:70px;
    
    
}
.one, .two, .three{
    
    background-color: red;
    width:200px;
    
}
.scroll{

   
  width: 90%;
  height: 150px;
 
 border-top: 1px solid black;
 border-bottom: 1px solid black;
  overflow-y: scroll;
  
  padding: 20px;
}
.vbvb{
   
    width: 90%;
    height: 300px;
}
